@page "/"
@using TimerTesting.Logic
@inject Clock _clock;

<PageTitle>Clock</PageTitle>

<article>
    <section>
        <section class="clock">
            <span>@_clock.DisplayedTime[0]</span><span>@_clock.DisplayedTime[1]</span><span class="colon">:</span><span>@_clock.DisplayedTime[3]</span><span>@_clock.DisplayedTime[4]</span><span class="colon">:</span><span>@_clock.DisplayedTime[6]</span><span>@_clock.DisplayedTime[7]</span>
        </section>
        <section>
            <img class="@_bellClass" src="@_bellImage"/>
        </section>
    </section>
</article>

@code{
    private string _bellImage = "BellStill.png";
    private string _bellClass = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SetupTimers();
    }

    private void SetupTimers()
    {
        _clock.TimeChanged += (s, e) => StateHasChanged();

        _clock.RingChanged += (s, e) =>
        {
            _bellImage = e == RingState.On ? "BellRinging.png" : "BellStill.png";
            _bellClass = e == RingState.On ? "shake" : "";

            StateHasChanged();
        };
    }
}
